*
{
  margin: 0;
  padding: 0;
}
body
{
	height: auto;
	font:normal 100% Adobe 黑体 Std;
	color: #593810;
}
a,a.hover,a.visit
{
  /*color: #593810;*/
  text-decoration: none;
}


body
{
	background: url(../img/bg.jpg) no-repeat;
	background-position: center;
	background-size: 100% 100%;
	background-attachment: fixed;
}

/*footer*/
#footer
{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 88px;
	color: #fff;
	background: url(../img/footer-btn.png) no-repeat;
	background-position: center;
	background-size: 100% 100%;
}
.footer-btn
{
	float: left;
	width: 50%;
}
.footer-label
{
	display: inline-block;
	min-width: 217px;
	margin: 30px 30%;
	cursor: pointer;
	font-size: 1.85em;
	font-weight: bold;
}

/*container*/
#container
{
	max-width: 92%;
	margin: 0 auto 16%;
	text-align: center;
}
h1
{
	padding-top: 50px;
	font-size: 3.125em;
}
h2
{
	max-width: 65%;
	margin: 10px auto 0;
	font-size: 2.625em;
}
p
{
	max-width: 74%;
	margin: 54px auto 0;
	font-size: 2em;
	font-weight: bold;
	text-align: left;
}
h2+p
{
	font-size: 1.625em;
	text-align: center;
}
img.expression
{
	padding-top: 8%;
}
img.splitline
{
	padding-top: 16%;
	padding-bottom: 8%
}
#try
{
	height: 89px;
	background: url(../img/try-btn.png) no-repeat;
	background-position: center;
	cursor: pointer;
}
.try-label
{
	display: inline-block;
	padding-top: 20px;
	font-size: 2.375em;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
}
h3
{
	padding-top: 50px;
	font-size: 2em;
	color: #fff;
}
h3 em
{
	color: #ea6f3a;
}
#lottery
{
	height: 180px;
	width: 50%;
	margin: 20px auto 0;
}
#lottery img
{
	display: inline-block;
	float: left;
	padding-top: 52px;
	
}
#lottery img+p
{
	display: inline-block;
	max-width: 50%;
	margin-left: 12px;
	text-align: center;
}
.lottery-btn
{
	height: 88px;
	margin-bottom: 20px;
	background: url(../img/save-btn.png) no-repeat;
	cursor: pointer;
	background-position: center;
}
.lottery-btn-label
{
	display: inline-block;
	padding-top: 20px;
	font-size: 2.375em;
	font-weight: bold;
	cursor: pointer;
	color: #fff;
}
p.notice
{
	margin-top: 2%;
	font-size: 1.25em;
	font-weight: normal;
	color: #fff;
}
p.datetime
{
	width: 54%;
	margin: 10px auto 30px;
	font-size: 1.25em;
	font-weight: normal;
	color: #fff;
}
.shop-des p
{
	width: 54%;
	margin: 10px auto;
	font-size: 1.25em;
	font-weight: normal;
	color: #fff;
}
img.tdc
{
	margin-top: 4%;
}

.tdc-lottery img
{
	display: inline-block;
}
.tdc-lottery p
{
	display: inline-block;
	padding-left: 4%;
	font-size: 2.75em;
}
#using-btn
{
	margin-top: 20px;
	height: 72px;
	background: url(../img/using-btn.png) no-repeat;
	background-position: center;
	cursor: pointer;
}
#used-btn
{
	margin-top: 20px;
	height: 72px;
	background: url(../img/used-btn.png) no-repeat;
	background-position: center;
	cursor: pointer;
}
.use-btn-label
{
	display: inline-block;
	padding-top: 20px;
	font-size: 1.5em;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
}

/*share*/
#share
{
	top: 0;
	bottom: 88px;
	position: fixed;
	width: 100%;
	height: auto;
	background: url(../img/sharebg.png) no-repeat;
	background-position: center;
	background-size: 100% 100%;
}
img.arrow
{
	float: right;
}
#share p
{
	max-width: 60%;
	margin: 40% auto 16%;
	font-family: 华文行楷;
	font-weight: normal;
	color: #fff;
}

/*user-list*/
#user-list
{
	margin: 0 auto 16%;
	padding: 4% 8%;
	background: #fff;
	background-size: 100% 100%
}
#myLottery
{
}
#othersLottery 
{
}
h4
{
	background: url(../img/userListbg.png) no-repeat;
	background-position: center;
	margin-bottom: 4%;
	text-align: center;
	font-size: 1.75em;
	color: #d4d4d4;
}
.user-list-lottery
{
	padding-bottom: 8%;
}
img.user-list-head
{
	display: inline-block;
	float: left;
	padding-right: 5%;
	cursor: pointer;
}
p.user-list-username
{
	margin: 0;
	padding-bottom: 2%;
	font-size: 1.75em;
	cursor: pointer;
}
.user-list-userlottery
{
}
img.lottery-icon
{
	display: inline-block;
	float: left;
	padding-right: 4%;
}
p.lottery-des
{
	margin: 0;
	font-size: 1.75em;
	color: #999;
}

/*mylotterylist*/
h5
{
	padding-top: 50px;
	padding-left: 4%;
	padding-bottom: 2%;
	font-size: 1.625em;
	text-align: left;
	color: #4e4e4e;
}
#mylotterylist
{
	text-align: left;
}
#mylotterylist p.lottery-des
{
	color: #593810;
}
#mylotterylist li
{
	min-height: 140px;
	padding-top: 20px;
	padding-left: 12%;
	list-style: none;
	background: url(../img/listbg.png) repeat-x;
}
#mylotterylist span
{
	display: block;
	padding-bottom: 20px;
	font-size: 1.625em;
	font-weight: bold;
	color: #fff;
}
#mylotterylist span em
{
	color: #ea6f3a;
}